

<!DOCTYPE html>
<html>
<head>
	<title id="title"></title>
	<link href="/content/styles.css" rel="stylesheet"/>
	<!--[if lte IE 7]>
		<link href="/content/ie.css" rel="stylesheet"/>
	<![endif]-->
	<script type="text/javascript" src="/Scripts/combined/master_59C2ED1EF30A446555AD34CCADB8776E.js"></script>
		<script type="text/x-jquery-tmpl" id="NavigationButtonTemplate">
    <a href="${URL}">${Caption}</a>

    </script>

	

	<link href="/Content/map.css" rel="stylesheet" type="text/css" />
	<!--[if lte IE 7]>
		<link href="/content/iemap.css" rel="stylesheet"/>
	<![endif]-->
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=true&client=gme-syncro"></script>
	<script type="text/javascript">
		var vehicle_image_dir = "/images/vehicle_icons/";
		var stop_image_dir = "/images/stop_icons/";
	</script>

	<script type="text/javascript" src="/Map/GetMarkerImages"></script>
	<script type="text/javascript" src="/Scripts/combined/map_BF6E878EF25F3271919A812A5EF0951E.js"></script>
			
		<script type="text/x-jquery-tmpl" id="FindStopViewTemplate">
    <div class="find-stop-title">
</div>
<div class="reset-button">
	Start Over
</div>
<div class="find-stop-container">
</div>

    </script>

		<script type="text/x-jquery-tmpl" id="VehiclePopupTemplate">
    <div class="retical">
</div>
<div class="inner-vehicle-popup map-item-border">
	<div class="popup-heading" style="background-color: ${Route.Color};">
		<b>Vehicle:</b> ${Vehicle.Name}
	</div>
	<div class="dialog">
		<div class="route-header">
			<div class="color" style="background-color: ${Route.Color};"></div>
			<span class="route-name">		
				${Route.Name}
			</span>
		</div>
		<ul class="details">
			<li>
				<div id="doorOpen_${Vehicle.ID}" class="doorOpen cell" style="color: red;">
					{{if Vehicle.DoorStatus}} Door Open {{/if}}
				</div>
			</li>
			<li>
				<div class="cell">
					<span>Updated:</span>
				</div>
				<div id="updated_${Vehicle.ID}" class="cell">${Vehicle.Updated}
				</div>
			</li>
			<li>
				<div id="moving_header_${Vehicle.ID}" class="cell">{{if Vehicle.Speed==0}} <b>Stopped</b> {{/if}} {{if Vehicle.Speed!=0}}Moving:{{/if}}</div>
				<div id="moving_${Vehicle.ID}" class="cell">${Vehicle.Heading}
				</div>
			</li>
			{{if Vehicle.HasAPC && ApcEnabled}}
			<li>
				<div class="cell">
					<span>Percent Full:</span>
				</div>
				<div class="cell">
					<div id="apcProgress_${Vehicle.ID}" class="apcProgress">
					</div>
				</div>
			</li>
			{{/if}}
		</ul>
		<h5>
			Next Stops:
		</h5>
		<ul class="arrivals">
		</ul>
		<div class="closeButton" style="display: none;">
		</div>
	</div>
</div>

    </script>

		<script type="text/x-jquery-tmpl" id="ArrivalTemplate">
    <div style="display: table-row; font-size: 8pt;">
    <div class="cell"><span style="padding-right: 4px; padding-left: 4px;">${StopName}</span>&nbsp;</div>
	<div class="cell"><span style="padding-right: 4px; padding-left: 4px;">${Min}</span></div>
	<div class="cell">${Direction}</div>
</div>
    </script>

		<script type="text/x-jquery-tmpl" id="StopPopupTemplate">
    <div class="inner-stop-popup">
	<div class="popup-heading" title="${Stop.Name}">
		<div class="closeButton selectedOptions" style="display: none;" title="Close">
		</div>
		<span class="heading"><strong>Stop:</strong> ${Stop.Name}</span>
	</div>
	<div class="dialog">
		{{if PortalModel.TextKeyword || PortalModel.IVRNumber }}
		<div class="sub-heading">
			<span class="stop-num">Stop <strong>#<a class="stop-num-link" title="Mobile Information"
				target="_blank" href="/MobileInformation">${Stop.RtpiNumber == 0 ? "--" : Stop.RtpiNumber}</a></strong></span>
		</div>
		{{/if}}
		{{if StreetView}}
		<div class="streetViewButton  selectedOptions" title="Street View">
			Street View
		</div>
		{{/if}}
		<div class="info">
		</div>
		<h1>
			Served By:</h1>
		<ul class="routesContainer">
		</ul>
	</div>
</div>

    </script>

		<script type="text/x-jquery-tmpl" id="StopArrivalTemplate">
    <li data-route="${ID}" class="route-arrivals" style="border-left: 6px solid ${Color};">
	<div class="headingText">
		<span>${Name}</span>
	</div>
	<ul data-route="${ID}" class="arrivals">
	</ul>
</li>

    </script>

		<script type="text/x-jquery-tmpl" id="ArrivalsTemplate">
    <li class="vehicle-arrival" data-vehicle="${VehicleName}">
		{{if ShowVehicleName}}
		<div class="cell">
			<span class="name">Bus ${VehicleName}</span>
		</div>
		{{/if}}
		<div class="cell">
			<span class="minutes">${Min}</span>
		</div>
		<div class="cell">
			${DirectionName}
		</div>
		{{if HasAPC}}
		<div class="cell">
			<div class="cell progress" data-value="${APCPercentage}" style="padding-right: 4px; padding-left: 4px;">
			</div>
		</div>
    {{/if}} 
</li>

    </script>

		<script type="text/x-jquery-tmpl" id="RouteTemplate">
    <li id="route_menu_item_${ID}" class="route-menu-item" data-route-id="${ID}" title="${Name}">
  <div class="box"></div>
  <div class="color" style="background-color: ${Color};"></div>
  <div id="route_menu_item_name_${ID}" class="name">${Name}</div>
</li>

    </script>

		<script type="text/x-jquery-tmpl" id="MapMenuTemplate">
    <div class="map-menu-root">
	<span>Menu</span>
	<div class="main-collapse">
	</div>
</div>
<ul class="menu_items">
	<li class="route-menu menu-item">
		<div class="header">
			Routes</div>
		<div class="collapse">
		</div>
		<ul id="route_menu" class="routes_container container" style="display: none;">
		</ul>
	</li>
	<li class="legend_menu menu-item">
		<div class="header">
			Legend</div>
		<div class="collapse">
		</div>
		<div id="legend_content" class="content_parent_legend" style="visibility: visible;
			background-color: White; border: 1px solid #666666; display: none;">
			<center>
                        <table>
                            <tbody>
                                <tr>
                                    <td align="center">
                                        <nowrap><img style="vertical-align:middle" src="/images/vehicle_label_sample.gif"></nowrap>
                                    </td>
                                    <td align="left">
                                        Vehicle Number
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="">
                                        <img style="vertical-align: middle" src="/images/vehicle_icons/red_dot.gif">&nbsp;<img
                                            style="vertical-align: middle" src="/Images/vehicle_icons/e_1.gif">&nbsp;
                                    </td>
                                    <td align="left">
                                        Stopped Bus
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="">
                                        <img style="vertical-align: middle" src="/images/vehicle_icons/green_dot.gif">&nbsp;<img
                                            style="vertical-align: middle" src="/images/vehicle_icons/e_2.gif">&nbsp;
                                    </td>
                                    <td align="left">
                                        Moving Bus
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <img style="vertical-align: middle" src="/images/stop_icons/minimarker.gif">
                                    </td>
                                    <td align="left">
                                        Bus Stops
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <img style="vertical-align: middle" src="/images/other_transit.png">
                                    </td>
                                    <td align="left">
                                        Other Transit Agency<br>
                                        Bus Stops
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <hr>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <center>
                                            <span style="font-size: 10pt; font-weight: bold"><u>Traffic Conditions</u></span></center>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <img style="vertical-align: middle" src="/images/good_traffic.png">
                                    </td>
                                    <td align="left" nowrap="">
                                        More than 50 mph
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <img style="vertical-align: middle" src="/images/medium_traffic.png">
                                    </td>
                                    <td align="left" nowrap="">
                                        25 - 50 mph
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <img style="vertical-align: middle" src="/images/bad_traffic.png">
                                    </td>
                                    <td align="left" nowrap="">
                                        Less than 25 mph
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </center>
		</div>
	</li>
	<li class="find-stop-menu menu-item">
		<div class="header">
			Find Your Stop</div>
		<div class="collapse">
		</div>
		<div class="container" style="display: none;">
		</div>
	</li>
	<li class="show-traffic-menu menu-item">
		<div class="header">
			Show Traffic</div>
	</li>
	<li class="label-toggle-menu menu-item">
		<div class="header">
			Hide Labels</div>
	</li>
	<li class="map-style-menu menu-item">
		<div class="header">
			Switch to Hybrid Mode</div>
	</li>
</ul>

    </script>

		<script type="text/x-jquery-tmpl" id="RegionMenuViewTemplate">
    <div class="regionHeading" style="cursor: pointer;">${Name} <img id="Img1" src="/images/uncollapse.gif" /></div>
<ul class="routes_container" >
</ul>

    </script>

		<script type="text/x-jquery-tmpl" id="VehiclePopupArrivalTemplate">
    <li class="arrival">
	<span class="min">${Min}</span> 
	<span class="stop-name">${StopName}</span> 	
</li>

    </script>


	<script type="text/javascript">
		function KickStart(portalModel) {

			if ($.browser.msie && $.browser.version == "6.0") {
				alert("Your browser Internet Explorer 6 is not supported by our map. Our map supports Internet Explorer 7 or higher, Mozilla Firefox or Google Chrome. Please consider upgrading.");
				return;
			}

			var router = new MapRouter({ DomainService: new DomainService(), PortalModel: portalModel, MapTemplateInitialization: new this.MapTemplateInitialization() });
			Backbone.history.start();
			nav.setTab("Live Map");
		}
	</script>

	<script type="text/javascript">
	    $(document).ready(function () {

	        $.ajax({
	            type: "GET",
	            url: "/Home/GetPortalInformation",
	            data: "json",
	            success: function (portalModel) {

	                for (var i = 0; i < portalModel.NavigationButtons.length; i++) {
	                    new NavigationButtonView({ parent: $("#navigationContainer"), NavigationButton: portalModel.NavigationButtons[i] }).render();
	                }
	                $("#navigationContainer li:last").addClass("last");
	                $("#mainContent").addClass("contentMain");
	                $("#ds").show();
	                $(document).attr("title", portalModel.Name);
	                $("#new_page_title").html(portalModel.Name);
	                $("#logo").attr("src", "/images/" + portalModel.Logo);

	                if (portalModel.WebsiteUrl) {
	                    $("#website-url").attr("href", portalModel.WebsiteUrl);
	                }

	                if (portalModel.HideLogo) {
	                    $("#img-sync-logo").hide();
	                }

	                var showHeader = true;

	                if (!showHeader || $.getParam('showHeader') === '0' || $.getParam('mode') == 'widget') {
	                    nav.hideHeader();
	                } else {
	                    $("#header-container").show();
	                }


	                window.KickStart(portalModel);
	            },
	            error: function (xhr, ajaxOptions, thrownError) {
	                alert(xhr.status);
	                alert(thrownError);
	            }
	        });
	    });

		var nav = (function () {
			return {
				setTab: function (caption) {
					$("#navigationContainer li:contains('" + caption + "')").addClass("selected");
				},
				hideHeader: function () {
					$("#header-container").css("height", "0px");
					$("#header-container").hide();
				}
			};
		})();

	</script>
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-28719265-1']);
			_gaq.push(['_setDomainName', 'ucsdbus.com']);
			_gaq.push(['_trackPageview']);

			(function () {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>
<script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script></head>
<body>
	<div id="header-container" style="display: none">
		<div id="header">
			<div id="brand">
				<a id="website-url">
					<img src="" id="logo" alt="logo" /></a> <span id="new_page_title" class="new_page_title">
					</span>
			</div>
			<a id="img-sync-logo" href="http://www.syncromatics.com">
				<img id="syncro-logo" src="/images/powered_by_new.gif" alt="Powered by Syncromatics" /></a>
		</div>
		<div id="menu">
			<ul id="navigationContainer">
			</ul>
		</div>
		<div id="ds" style="height: 7px;">
			<div id="ds-h">
				<div style="opacity: .2; filter: alpha(opacity=8); height: 4px; background: Black;">
				</div>
				<div style="opacity: .1; filter: alpha(opacity=8); height: 3px; background: Black;">
				</div>
			</div>
		</div>
	</div>
	<div id="mainContent">
		
<div id="map_content">
</div>
<div id="welcome" class="map-item-border ">
	<div style="margin: 20px;">
		<span style="font-size: 20pt; font-weight: bold;">Welcome.</span><br />
		<br />
		Select a route on the right to see buses.
	</div>
</div>
<div id="main_menu" class="map-item-border">
</div>
<div id="timeoutWarning">
	<div style="position: absolute; top: 40%; width: 200px; left: 40%; right: 50%; opacity: .95; font-size: 12pt; text-align: center;" class="map_menu">
		<div style="margin: 20px;">
			<span style="font-size: 20pt; font-weight: bold;">Are you still there?</span><br />
			<br />
			<button class="continueButton">
				Yes</button>
		</div>
	</div>
</div>
<div id="dsMap" style="margin: 0px; padding: 0px; position: absolute; top: 0px; height: 7px; right: 0px; left: 0px;">
		<div id="ds-h">
			<div style="opacity: .2; filter: alpha(opacity=8); height: 4px; background: Black;">
			</div>
			<div style="opacity: .1; filter: alpha(opacity=8); height: 3px; background: Black;">
			</div>
		</div>
	</div>

	</div>

<script type="text/javascript"> if (!NREUMQ.f) {NREUMQ.f=function() {NREUMQ.push(["load",new Date().getTime()]);var e=document.createElement("script"); e.type="text/javascript"; e.src=(("http:"===document.location.protocol)?"http:":"https:") + "//" + "js-agent.newrelic.com/nr-100.js"; document.body.appendChild(e);if(NREUMQ.a)NREUMQ.a();};NREUMQ.a=window.onload;window.onload=NREUMQ.f;};NREUMQ.push(["nrfj","beacon-2.newrelic.com","3f9d85d07d","3332093","ZQEGNUIFVhZZWxIKXlxLIA5EKl0Re1cIF0NdCAgEQkt1BEgXLw1VVxw=",0,10,new Date().getTime(),"E9EC8CB10B18540E","","","",""]);</script></body>
</html>


